$mainFont: "Raleway", sans-serif;
$titlesFont: "Lobster", sans-serif;
$marginCenter: 0 auto;
$centerAlign: center;
$pinkColor: #da0958;
$tirkizColor: #1affb2;
$indigoColor: #9273e3;
$darkPinkColor: #9c0657;
$sliderColor: rgba(255, 26, 117, 0.7);
$darkGrayText: #444444;
$orangeText: #ff8000;
$redText: #ff0040;
$blueText: #0040ff;
$purpleText: #990099;
$upperCase: uppercase;
$lightOrange: #f5dfa2;
