/*text styles*/
p {
  font-size: 16px;
  color: #444444;
}

.about-us p {
  color: #ffffff;
  text-align: justify;
}

p#first-p {
  color: #ff8000;
}

p#second-p {
  color: #ff0040;
}

p#third-p {
  color: #0040ff;
}

p#forth-p {
  color: #990099;
}

.our-partners p {
  margin-bottom: 45px;
}

.contact p {
  color: #ffffff;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h5, h5 {
  /*uklanjanje gornje margine definisane u bootstrap-u*/
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Lobster", sans-serif;
}

h1 {
  color: #ffffff;
  font-size: 60px;
  text-shadow: 1px 1px #847988;
  padding-top: 450px;
}

h2 {
  padding-top: 30px;
  color: #ffffff;
  font-size: 48px;
  text-shadow: 1px 1px #847988;
}

h3 {
  font-size: 44px;
  color: #444444;
  margin-bottom: 45px;
}

.parallax h3 {
  color: #1affb2;
  padding-top: 190px;
  margin-bottom: 120px;
  text-shadow: 1px 1px 4px gray;
}

.cr-titles h3 {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  z-index: 10000;
  opacity: 0;
  color: #ffffff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-transition: opacity 0.8s ease-in-out;
  transition: opacity 0.8s ease-in-out;
}

.cr-titles h3 span:nth-child(1) {
  font-family: "Lobster", sans-serif;
  display: block;
}

.cr-titles h3 span:nth-child(2) {
  display: block;
  background: rgba(255, 26, 117, 0.7);
  font-size: 15px;
  padding: 10px;
  font-family: "Lobster", sans-serif;
}

.cr-container input.cr-selector-img-1:checked ~ .cr-titles h3:nth-child(1),
.cr-container input.cr-selector-img-2:checked ~ .cr-titles h3:nth-child(2),
.cr-container input.cr-selector-img-3:checked ~ .cr-titles h3:nth-child(3),
.cr-container input.cr-selector-img-4:checked ~ .cr-titles h3:nth-child(4) {
  opacity: 1;
}

.contact h3 {
  color: #ffffff;
  text-shadow: 3px 3px 3px purple;
}

h4 {
  font-size: 25px;
  margin-bottom: 50px;
}

h4#first-h4 {
  color: #ff8000;
}

h4#second-h4 {
  color: #ff0040;
}

h4#third-h4 {
  color: #0040ff;
}

h4#forth-h4 {
  color: #990099;
}

.parallax h4 {
  color: #1affb2;
  text-shadow: 1px 1px 4px gray;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  margin-bottom: 0;
}

.contact h4, .contact strong {
  color: #da0958;
}

h5 {
  font-size: 16.5px;
  text-shadow: 2px 2px 3px black;
}

/*header*/
#top {
  margin-bottom: 0px;
}

header {
  background: #f5dfa2 url("../img/relax3.png") no-repeat center center;
  background-size: cover;
  min-height: 890px;
}

.header-top {
  background: url("../img/header-top-background.png") no-repeat top center;
  background-size: cover;
}

.header-top .navbar-nav li a {
  color: white;
  border-right: 1px solid white;
}

.header-top .navbar-nav li a:hover {
  color: #da0958;
  background-color: transparent;
}

.header-top .navbar-nav li:last-child a {
  border-right: none;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background: transparent;
}

.nav .open > a .navbar-nav > li > a,
.nav .open > a:hover .navbar-nav > li > a,
.nav .open > a:focus .navbar-nav > li > a {
  margin-top: 28px;
  margin-bottom: 28px;
  padding-top: 0;
  padding-bottom: 0;
}

.nav .open > a .navbar-toggle .icon-bar,
.nav .open > a:hover .navbar-toggle .icon-bar,
.nav .open > a:focus .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

/*layout*/
body {
  background-color: #ffffff;
  font-family: "Raleway", sans-serif;
  max-width: 1920px;
  margin: 0 auto;
}

.content {
  margin: 0 auto;
  max-width: 1266px;
}

.row {
  /* uklanjanje negativnih margina u bootstrap-u */
  margin-left: 0;
  margin-right: 0;
}

.hideme {
  /* odnosi se na sakrivene elemente koji se prikazuju nakon scroll-ovanja */
  opacity: 0;
}

/*ovim se menja display:block stanje responsive slika u napred definisano u bootstrapu*/
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
  display: inline;
}

.about-us {
  background: url("../img/sand.jpg") no-repeat top center;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#about-text {
  background-color: #c69e6e;
  padding: 30px;
  -webkit-box-shadow: 3px 3px 5px black;
          box-shadow: 3px 3px 5px black;
}

#about-img {
  margin-top: 50px;
}

.pulse {
  margin-bottom: 15px;
  -webkit-animation-name: pulse_animation;
          animation-name: pulse_animation;
  -webkit-animation-duration: 5000ms;
          animation-duration: 5000ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes pulse_animation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  60% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  70% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  80% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse_animation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  60% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  70% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  80% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.about-us, .services, .team, .galery, .our-partners, .contact {
  padding-top: 130px;
  padding-bottom: 130px;
}

.parallax {
  background: url("http://www.lifecoachintoronto.com/wp-content/uploads/2014/06/Feeling-Free.jpg") no-repeat top center fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  min-height: 654px;
}

.galery {
  background: url("../img/wood.jpg") no-repeat center center;
  -webkit-box-shadow: 1px 1px 4px gray;
          box-shadow: 1px 1px 4px gray;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.media_image {
  width: 80%;
  height: auto;
  margin-top: 32px;
  -webkit-box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.3);
}

.scroll-to-top {
  position: fixed;
  background: url(../img/button-up.png) no-repeat;
  cursor: pointer;
  width: 50px;
  height: 50px;
  bottom: 2.5em;
  right: 2.5em;
  display: none;
  z-index: 999;
  border: none;
}

.contact {
  background: url("../img/sun2.png") no-repeat top center fixed;
  -webkit-animation: pulse 3s ease-out infinite alternate,  nudge 3s ease-out infinite alternate;
          animation: pulse 3s ease-out infinite alternate,  nudge 3s ease-out infinite alternate;
}

@-webkit-keyframes pulse {
  0% {
    background-color: #f4bf5a;
  }
  50% {
    background-color: #fea54e;
  }
  100% {
    background-color: #f76265;
  }
}

@keyframes pulse {
  0% {
    background-color: #f4bf5a;
  }
  50% {
    background-color: #fea54e;
  }
  100% {
    background-color: #f76265;
  }
}

iframe {
  border: 5px dashed #da0958;
  width: 90%;
  height: 270px;
  margin-bottom: 30px;
}

.cr-container {
  width: 640px;
  height: 440px;
  position: relative;
  margin: 0 auto;
  border: 20px solid #ffffff;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.cr-container label {
  font-style: italic;
  width: 150px;
  height: 30px;
  cursor: pointer;
  color: #ffffff;
  line-height: 32px;
  font-size: 24px;
  float: left;
  position: relative;
  margin-top: 350px;
  z-index: 1000;
}

.cr-container label:before {
  content: '';
  width: 34px;
  height: 34px;
  background: rgba(255, 26, 117, 0.7);
  position: absolute;
  left: 50%;
  margin-left: -17px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.3);
          box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.3);
  z-index: -1;
}

.cr-container label:after {
  width: 1px;
  height: 400px;
  content: '';
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(white));
  background: linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
  position: absolute;
  bottom: -20px;
  right: 0px;
}

.cr-container label.cr-label-img-4:after {
  width: 0px;
}

.cr-container input.cr-selector-img-1:checked ~ label.cr-label-img-1,
.cr-container input.cr-selector-img-2:checked ~ label.cr-label-img-2,
.cr-container input.cr-selector-img-3:checked ~ label.cr-label-img-3,
.cr-container input.cr-selector-img-4:checked ~ label.cr-label-img-4 {
  color: rgba(255, 26, 117, 0.7);
}

.cr-container input.cr-selector-img-1:checked ~ label.cr-label-img-1:before,
.cr-container input.cr-selector-img-2:checked ~ label.cr-label-img-2:before,
.cr-container input.cr-selector-img-3:checked ~ label.cr-label-img-3:before,
.cr-container input.cr-selector-img-4:checked ~ label.cr-label-img-4:before {
  background-color: #ffffff;
}

.cr-container input {
  display: none;
}

.cr-bgimg {
  width: 600px;
  height: 400px;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
}

.cr-bgimg {
  background-repeat: no-repeat;
  background-position: 0 0;
}

.cr-bgimg div {
  width: 150px;
  height: 100%;
  position: relative;
  float: left;
  overflow: hidden;
  background-repeat: no-repeat;
}

.cr-bgimg div span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: -150px;
  z-index: 2;
  text-indent: -9000px;
}

.cr-container input.cr-selector-img-1:checked ~ .cr-bgimg,
.cr-bgimg div span:nth-child(1) {
  background-image: url(../img/1.jpg);
}

.cr-container input.cr-selector-img-2:checked ~ .cr-bgimg,
.cr-bgimg div span:nth-child(2) {
  background-image: url(../img/2.jpg);
}

.cr-container input.cr-selector-img-3:checked ~ .cr-bgimg,
.cr-bgimg div span:nth-child(3) {
  background-image: url(../img/3.jpg);
}

.cr-container input.cr-selector-img-4:checked ~ .cr-bgimg,
.cr-bgimg div span:nth-child(4) {
  background-image: url(../img/4.jpg);
}

.cr-bgimg div:nth-child(1) span {
  background-position: 0px 0px;
}

.cr-bgimg div:nth-child(2) span {
  background-position: -150px 0px;
}

.cr-bgimg div:nth-child(3) span {
  background-position: -300px 0px;
}

.cr-bgimg div:nth-child(4) span {
  background-position: -450px 0px;
}

.cr-container input:checked ~ .cr-bgimg div span {
  -webkit-animation: slideOut 0.6s ease-in-out;
  animation: slideOut 0.6s ease-in-out;
}

@-webkit-keyframes slideOut {
  0% {
    left: 0px;
  }
  100% {
    left: 150px;
  }
}

@keyframes slideOut {
  0% {
    left: 0px;
  }
  100% {
    left: 150px;
  }
}

.cr-container input.cr-selector-img-1:checked ~ .cr-bgimg div span:nth-child(1),
.cr-container input.cr-selector-img-2:checked ~ .cr-bgimg div span:nth-child(2),
.cr-container input.cr-selector-img-3:checked ~ .cr-bgimg div span:nth-child(3),
.cr-container input.cr-selector-img-4:checked ~ .cr-bgimg div span:nth-child(4) {
  -webkit-transition: left 0.5s ease-in-out;
  transition: left 0.5s ease-in-out;
  -webkit-animation: none;
  animation: none;
  left: 0px;
  z-index: 10;
}

.carousel-control.right, .carousel-control.left {
  background-image: none;
  opacity: 1;
}

a.carousel-control .glyphicon {
  color: #FFFFFF;
  opacity: 1;
  text-shadow: 1px 1px 2px black;
}

/*footer*/
footer {
  background: #9273e3;
  background: -webkit-gradient(linear, left top, left bottom, from(#9273e3), to(#9c0657));
  background: linear-gradient(#9273e3, #9c0657);
  margin-bottom: 0;
}

footer p, footer a img {
  padding-top: 38px;
  padding-bottom: 38px;
}

footer p {
  color: #ffffff;
}

/*mediaQueries*/
@media screen and (max-width: 767px) {
  .navbar-brand img {
    width: 75%;
    height: auto;
  }
  .parallax h3 {
    font-size: 40px;
  }
  .cr-container {
    display: none;
  }
  .carousel {
    display: block;
  }
  .our-partners img {
    margin-top: 40px;
  }
  footer {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .header-down h1 {
    font-size: 45px;
  }
  .header-down h2 {
    font-size: 33px;
  }
}

@media screen and (min-width: 768px) {
  .carousel {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .navbar-nav {
    padding-right: 30px;
  }
  footer .wrapper2 {
    float: right;
  }
  footer a img {
    padding-left: 30px;
  }
}

@media screen and (min-width: 992px) {
  .services p {
    text-align: justify;
  }
  #img1, #img5 {
    -webkit-transform: rotate(10deg) translate(0, 10px);
            transform: rotate(10deg) translate(0, 10px);
  }
  #img2, #img4, #img6 {
    -webkit-transform: rotate(-10deg) translate(0, 20px);
            transform: rotate(-10deg) translate(0, 20px);
  }
  #img3 {
    -webkit-transform: rotate(5deg) translate(0, 10px);
            transform: rotate(5deg) translate(0, 10px);
  }
  #img1:hover, #img2:hover, #img3:hover, #img4:hover, #img5:hover, #img6:hover {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    z-index: 2;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

@media screen and (min-width: 1200px) {
  footer a img {
    padding-left: 50px;
  }
}
/*# sourceMappingURL=main.css.map */